@(assets: List[Asset], numberOfPages: Integer, assetForm: Form[Asset])
@import java.math.BigInteger; var i = 0;

@main("Result page") {
    @helper.form(action = routes.FileApplication.generateThumbNails(), 'id -> "assestform") {


        <table border=0 width=30% height=30% align=left cellpadding=1 cellspacing=1>
            <thead>
                <tr>
                <tr>
                    <th align="left" >Asset ID</th>
                </tr>
            </thead>
            <tbody>
            @for(asset <- assets) {

                <tr>
                    <td><input type="checkbox" name="selectedAssets[@i]" value="@asset.assetName"> @asset.assetName <br></td>
                </tr>

                @{
                    i += 1
                }
            }

            </tbody>
        </table>
        <table border=0 width=30% height=30% align=left cellpadding=1 cellspacing=1>
            <thead>
                <tr>
                    @{var j = 1;}
                    @for(j <- 1 to numberOfPages) {
                        <td><a href="@routes.FileApplication.getAssetList(j)">&nbsp;@j</a></td>
                    }
                    <td>&nbsp;pages</td>
                </tr>
        </table>
        <br>
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Generate ThumbNails">
    }
}