@(created: FileAdminUser)

    @main("Home page") {
        <br>
        <br>

        <div class="table">
            <tr>
                <td>
                    <div class="img">
                        <img src="/assets/assa_abloy_logo.png" alt="assa">
                    </div>
                    <div class="img">
                        <img src="/assets/boxer_logo.png" alt="boxer">
                    </div>
                    <div class="img">
                        <img src="/assets/entrematic_logo.png" alt="entrematic">
                    </div>
                    <div class="img">
                        <img src="/assets/intrum_justicia_logo.png" alt="intrum">
                    </div>
                    <div class="img">
                        <img src="/assets/tiger_of_sweden_logo.png" alt="tiger">
                    </div>
                    <div class="img">
                        <img src="/assets/polarn_o_pyret_logo.png" alt="pop">
                    </div>
                    <div class="img">
                        <img src="/assets/samhall_logo.png" alt="samhall">
                    </div>
                    <div class="img">
                        <img src="/assets/wwl_logo.png" alt="wwl">
                    </div>
                </td>
            </tr>
        </div>


    }