@(users: List[FileAdminUser])

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <table border=0 width=40% height=30% align=left cellpadding=1 cellspacing=1>
        <thead>
            <tr>
                <th align="left">User Name</th>

            </tr>
        </thead>
        <tbody>
        @for(users <- users) {

            <tr>

                <td>@users.username</td>





            </tr>
        }

        </tbody>
    </table>

</body>
</html>